.is_hidden {
  display: hidden; }

.is_display_none {
  display: none; }

body {
  background-image: radial-gradient(#1f3756, #141539);
  height: 100vh; }

#container {
  width: 85%;
  margin: 0 auto; }
  #container * {
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600; }
  #container #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #606e85;
    border-radius: 5px;
    padding: 20px; }
    #container #header .left {
      padding: 20px; }
      #container #header .left p {
        margin: 0; }
    #container #header .right {
      background-color: white;
      width: 8rem;
      height: 8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px; }
      #container #header .right p {
        margin: 0;
        text-align: center;
        color: #2a46c0; }
      #container #header .right #score {
        color: #3b4363;
        font-size: 3rem;
        font-weight: 700; }
  #container #moves {
    width: 100%; }
    #container #moves > img {
      width: 57%; }
