.is_hidden {
  display: hidden; }

.is_display_none {
  display: none; }

body {
  background-image: radial-gradient(#1f3756, #141539);
  height: 100vh; }

#container {
  width: 85%;
  margin: 0 auto; }
  #container * {
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600; }
  #container #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #606e85;
    border-radius: 5px;
    padding: 20px; }
    #container #header .left {
      padding: 20px; }
      #container #header .left p {
        margin: 0; }
    #container #header .right {
      background-color: white;
      width: 8rem;
      height: 8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px; }
      #container #header .right p {
        margin: 0;
        text-align: center;
        color: #2a46c0; }
      #container #header .right #score {
        color: #3b4363;
        font-size: 3rem;
        font-weight: 700; }
  #container main {
    width: 100%;
    margin: 10rem 0;
    position: relative; }
    #container main > img {
      display: block;
      width: 60%;
      margin: 0 auto; }
    #container main > div {
      position: absolute;
      display: flex;
      justify-content: space-between; }
      #container main > div div {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center; }
    #container main .row1 {
      top: -5rem;
      justify-content: space-around;
      width: 100%; }
    #container main .row2 {
      top: calc(36% - 2.5rem);
      width: calc(60% + 5rem);
      left: calc(20% - 2.5rem); }
    #container main .row3 {
      top: calc(97% - 2.5rem);
      width: calc(40% + 5rem);
      left: calc(30% - 2.5rem); }
