@import "vars";
@import "rules";
@import "header";
@import "icon_container";


.displayHidden {
    display: hidden;
}

.displayNone {
    display: none;
}

body {
    background-image: $bg_gradient;
    height: 100vh;
}

#container {
    width: $mobile_width;
    margin: 0 auto;

    * {
        color: white;
        font-family: $main_font;
        font-weight: $font_light;
    }  
}